In [51]:
import pandas as pd
import sqlite3
import random, math
from numpy.random import permutation

conn = sqlite3.connect("signal_strengths.db")
df = pd.read_sql_query("select * from signals;", conn)

columns = list(df.filter(regex='MAC'))
columns.append('collected')
print(columns)

df=df.drop(columns,axis=1)
df.head()

# Create train/test dataset
random_indices = permutation(df.index)
test_cutoff = math.floor(len(df)/3)
test = df.loc[random_indices[1:test_cutoff]]
train = df.loc[random_indices[test_cutoff:]]

test.head()
train.head()

['MAC1', 'MAC2', 'MAC3', 'MAC4', 'MAC5', 'MAC6', 'MAC7', 'MAC8', 'MAC9', 'MAC10', 'MAC11', 'MAC12', 'collected']

    location  AP1  AP2  AP3  AP4  AP5  AP6  AP7  AP8  AP9  AP10  AP11  AP12
6       room   26   50   32   44   28   30    0    0    0     0     0     0
370   living    0   38   88  106   40    0   22   28    0    26    24     0
153     room   26   58   46   44   28    0    0    0    0     0     0     0
216     room   24   54   42   34   28    0    0    0    0     0     0     0
228   living    0   56   86   92   40    0    0   26   30    24     0     0